/Lecture3/HW3/mpc-car-tutorial-master/src/CMakeLists.txt
/Lecture3/HW3/mpc-car-tutorial-master/.catkin_workspace
/Lecture3/HW3/mpc-car-tutorial-master/devel/
/Lecture3/HW3/mpc-car-tutorial-master/build/
/Lecture3/HW3/mpc-car-tutorial-master/debug/
/Lecture3/HW3/mpc-car-tutorial-master/bags/
/Lecture3/HW3/mpc-car-tutorial-master/*.bag
/Lecture3/HW3/mpc-car-tutorial-master/*.bag.active
